.header {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 100%;
	height: 100vh;
	margin: 0 auto;
}

.header__image {
	position: relative;
	width: 102px;
	height: 42px;
	margin-left: auto;
}

.header__nav {
	display: flex;
	justify-content: flex-end;
}

.header__nav_list {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 0;
}

.header__nav_list li {
	margin: 1.5em 0;
	text-align: right;
	font-size: 1.5rem;
	font-stretch: ultra-condensed;
}

.contact__icons {
	display: flex;
	justify-content: flex-end;
}

.instagram {
	position: relative;
	width: 56px;
	height: 56px;
	margin-right: 2.5em;
}

.mail {
	position: relative;
	width: 80px;
	height: 54px;
}

@media screen and (min-width: 1024px) {
	.header {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		width: 100%;
		height: 100vh;
		margin: 0 auto;
	}
	.header__image {
		width: 204px;
		height: 84px;
	}
	.instagram {
		width: 83px;
		height: 83px;
	}
	.mail {
		width: 120px;
		height: 82px;
	}
	.header__nav_list li {
		font-size: 2.5rem;
		margin: 0.5em 0;
	}
}
