.section {
	padding: 0.4em;
}

.section h2 {
	margin-top: 0;
	margin-bottom: 1em;
	border-bottom: black 2px solid;
	font-size: 1.3rem;
	text-transform: lowercase;
}

.main {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
}

.video__section {
	margin-bottom: 2em;
}

@media (min-width: 1024px) {
	.videos__container {
		display: flex;
		justify-content: space-between;
	}

	.video__section {
		width: 45%;
	}
	.section h2 {
		font-size: 2rem;
	}
}
